body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  .signup-container {
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    display: flex; 
    flex-direction: column;
    height: 100%
  }
  .signup-container h2{
    color: #5c6bc0;
  }

  .signup-form .input-group {
    margin-bottom: 15px;
  }
  
  .signup-form .input-group input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 2px;
  }


  .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-top: auto; 
  }


  .links a {
    text-decoration: none;
    color: #5c6bc0;
}
  
  .signup-button{
    padding: 10px 20px;
    background-color: #5c6bc0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #3f51b5;
  }
  
  .login {
    margin-top: 10px; 
    margin-bottom: 20px;
  }
  
  .login a {
    text-decoration: none;
    color: #5c6bc0;
  }
  

  