/*
------------------
BODY
------------------
*/

body {
  margin: 0;
  margin-top: 80px;
  font-family: Arial;
  background-color: #fffcf6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body.index-page {
  margin-top: 60px;
}

/*
------------------
NAVBAR
------------------
*/

.nav-center {
  display: flex;       
  justify-content: center; 
  align-items: center;     
  flex: 1;                  
  margin-right: 80px;
}

.nav-center .nav-logo{
  height: 60px; 
}

.nav-text {
  color: white;
  font-size: 40px;
}

/* Navbar container */
.TopNav {
  display: flex;            
  justify-content: space-between; 
  align-items: center;      
  position: fixed;
  top: 0;
  background-color: #333;
  z-index: 1000;
  width: 100%;
}

/* Links inside the navbar */
.TopNav a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  line-height: 35px;
  font-family: "Monaco", "Lucida Console", monospace;
  transition: 0.3s;
}

/* Icon hidden by default */
.TopNav .icon {
  display: none;
}

/* The dropdown container */
.dropdown {
  float: right;
}

/* Dropdown button */
.dropdown .dropbtn {
  cursor: pointer;
  border: none;
  padding: 14px 16px;
  background-color: inherit;
}

/* Dropdown content box (hidden by default) */
.DropdownContent {
  display: none;
  position: fixed;
  background-color: #333;
  min-width: 100px;
  height: 105px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 2px solid #000000;
  z-index: 1001;
  /* Higher than the navbar to ensure it appears on top */
  right: 10px;
  top: 65px;
  border-radius: 10px;
}

/* Links inside the dropdown */
.DropdownContent a {
  float: none;
  padding: 0px 10px;
  display: block;
  text-align: left;
  font-size: 15px;
}

.logoutButton {
  background: none;
  /* Remove button background */
  border: none;
  /* Remove button border */
  color: #f2f2f2;
  /* Match text color of navbar links */
  width: 170px;
  text-align: left;
  padding: 0px 10px;
  font-size: 15px;
  /* Match font size of navbar links */
  line-height: 35px;
  /* Match line height of navbar links */
  font-family: "Monaco", "Lucida Console", monospace;
  /* Match font family */
  cursor: pointer;
  /* Keep cursor as pointer to indicate clickable */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Adding hover effect similar to other navbar links */
.logoutButton:hover {
  background-color: #376e81;
  /* Match hover background of navbar links */
  color: white;
  /* Match hover text color of navbar links */
  transition: 0.3s;
}

/* Add a background color to navbar links on hover */
.TopNav .link:hover,
.DropdownContent a:hover {
  background-color: #376e81;
  color: white;
}

/* Different hover borders for first child in dropdown */
.DropdownContent a:first-child:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Activates with javascript for show the dropdown menu */
.show {
  display: block;
}

/* User images for dropdown button */
.dropdown .dropbtn img {
  height: 35px;
}

/* The dropdown container */
.SideNav {
  height: 100%;
  width: 0;
  /* Initially hidden */
  position: fixed;
  top: 0;
  right: 0;
  background-color: #2c2c2c;
  overflow-x: hidden;
  /* Prevents horizontal scroll inside the side navigation */
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1001;
  /* Higher than the navbar to ensure it appears on top */
}

/* Links inside in sidenav */
.SideNav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #ccc;
  display: block;
  transition: 0.3s;
  font-family: "Monaco", "Lucida Console", monospace;
}

.SideNav .link:hover {
  background-color: #376e81;
  color: white;
}

/* Close button for sidenav */
.closebtn {
  position: absolute;
  top: 0;
  margin-top: 10px;
  font-size: 36px;
}

/*
------------------
HomePage
------------------
*/
.mainContent {
  align-items: center;
  padding-top: 100px;
  height: 95vh;
  /* Set the height relative to the viewport */
  background-image: url("/Images/testBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* Full width of the viewport */
}

.mainContent .mainDiv {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-color: rgba(128, 128, 128, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  max-width: 800px;
}

.mainDiv h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.mainDiv p {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: justify;
  color: #c9c7c7;
}

.AccButtonIndex {
  padding: 10px 20px;
  background-color: #5c6bc0;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.AccButtonIndex:hover {
  background-color: #3f51b5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
}

/*
------------------
Login - SignUp
------------------
*/
/* Login - SignUp Container */
.AccContainer {
  width: 300px;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #5c6bc0;
}

.AccForm .InputGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

/* Flexbox for aligning link and button */
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Color for links inside of form */
.links a,
.AccLink a {
  color: #5c6bc0;
  text-decoration: none;
}

/* Hover for links inside of form */
.links a:hover,
.AccLink a:hover {
  text-decoration: underline;
}

.AccButton {
  padding: 10px 20px;
  background-color: #5c6bc0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.AccButton:hover {
  background-color: #3f51b5;
}

.buttons {
  margin-top: 30px;
}

.AccLink {
  margin-top: 20px;
}

.SignupText {
  color: #000;
}

/*
------------------
SEARCH
------------------
*/
.search {
  background-color: #fff;
  padding-top: 5px;
  margin: 20px;
  text-align: center;
}

#searchBar {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8px;
  text-decoration: none;
  width: 33%;
}

#searchButton {
  padding: 8px 12px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #57f287;
  color: #23272a;
  transition: all 0.3s ease;
}

#searchButton:hover {
  background-color: green;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  color: #fff;
}

/*
------------------
----SEARCH BAR----
------------------
*/
#search {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8px;
  padding: 8px;
  text-decoration: none;
  width: 33%;
}

#search:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
}

#searchDiv {
  margin-top: 20px;
  text-align: center;
}

/*
------------------
------BUTTONS-----
------------------
*/

.saveButton {
  display: block;
  width: 100%;
  background-color: #5865f2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 8px 0;
  transition: all 0.3s ease;
}

.saveButton:hover {
  background-color: #3f51b5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  color: #fff;
}

/*
------------------
-----REVIEWS------
------------------
*/
.userReview {
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  margin: 10px;
  padding: 10px;
}

#userReviewTitle {
  margin: 10px;
}

.userReviewsContainer {
  margin-bottom: 20px;
}


/*
------------------
---BOOK RESULTS---
------------------
*/
.grid-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  align-items: start;
}

.searchResultDiv {
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  margin: 10px;
  max-width: 300px;
  padding: 10px;
  text-align: center;
}

.searchResultDiv img {
  border-radius: 5px;
}

/*
------------------
-----BOOK PAGE----
------------------
*/
.bookDiv {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.leftContent {
  flex: 1;
}

.rightContent {
  margin-left: 30px;
  width: 80%;
}

#bookDescHead {
  margin-top: -10px;
}

#bookDesc {
  margin-top: -15px;
}

.bookHeading {
  text-align: center;
  size: 48px;
}

.bookPageSaveButton {
  background-color: #5865f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;
}

/*
------------------
-----HEADINGS-----
------------------
*/
.heading {
  text-align: center;
}

/*
------------------
-----CONTACT PAGE----
------------------
*/

.contact {
  max-width: 950px;
  margin: 80px auto;
  color: white;
  line-height: 1.5;

}

.contact-banner {
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  width: auto;
}

.contact-banner h1 {
  font-size: 35px;
  margin: 0;
}

.contact-content {
  display: flex;
  margin-top: 40px;

}

.contact-icon {
  background-color: white;
  border-radius: 30px;
  padding: 15px;
  vertical-align: top;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  /* Adds a light grey border */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* Adds a subtle shadow */
}

.contact-info {
  display: inline-block;
  padding: 4px 20px 0px 20px;
}

.contact-address {
  margin-top: 30px;
  color: #000;
}

.contact-left {
  width: 530px;
  margin-left: 20px;
}

.contact-right {
  flex: 1 1 auto;
  background-color: white;
  border: 2px solid #cccccc;
  /* Adds a light grey border */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* Adds a subtle shadow */
  margin-right: 20px;
}

.contact-form {
  color: #000;
  padding: 40px;
  margin: auto;
}

.contact-info-title {
  color: #5c6bc0;
}

.contact-form-line {
  margin-bottom: 20px;
}

.contact-form textarea {
  height: 150px;
  width: 400px;
  resize: none;
  /* Prevents resizing of the textarea */
}

.contact-send {
  margin-top: 20px;
}

.contact-form-line label {
  padding-bottom: 5px;
  display: block;
}

/*
------------------
---Media Screen---
------------------
*/
@media screen and (max-width: 900px) {
  .TopNav .link {
    display: none;
    /* Hide links in the navbar on smaller screens */
  }

  .TopNav .icon,
  .dropdown .dropbtn {
    display: block;
    /* Show icon and dropdown button in navbar on smaller screens */
  }

  .mainContent .mainDiv {
    margin-left: 20px;
    margin-right: 20px;
  }

  .nav-center {
    justify-content: flex-start; 
    margin-left: 20px;
  }
}

@media screen and (max-width: 770px) {
  .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
  }

  .contact-right {
    margin-top: 30px;
    width: 400px;
    margin-right: 0px;
  }

  .contact-address:first-child {
    margin-top: 0px;
  }

  .contact-form textarea {
    height: 150px;
    width: 325px;
    resize: none;
    /* Prevents resizing of the textarea */
  }
  .contact-left{
    width: 430px;
  }
}

@media screen and (max-width: 535px) {
  .grid-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    align-items: start;
  }
}
